<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>listadomaquinariarentada</title>

    <link rel="stylesheet" th:href="@{/css/common.css}"/>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"/>
</head>
<body>
<h1>Listado de maquinaria alquilada</h1>

<div id="tableMaquinariaRent">

    <div class="info-card" th:if="${validate != null}">
        <span class="material-symbols-outlined icon">info</span>
        <h2 th:text="${validate}">No hay maquinaria en alquiler</h2>
        <p>Intenta con otros filtros o <a th:href="@{/producers/form}">agrega nuevo alquiler</a>.</p>
    </div>


    <div class="table-container" th:unless="${validate != null or listP == null or listP.isEmpty()}">
        <div class="table-responsive">
            <table>
                <thead>
                <tr>
                    <th>Nombre del rentador</th> <th>Dircción</th> <th>Teléfono</th> <th>Maquina</th> <th>Acciones</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="tempRent : ${rents}">
                    <td th:text="${tempRent.renterName}"></td>
                    <td th:text="${tempRent.address}"></td>
                    <td th:text="${tempRent.contactNumber}"></td>
                    <td th:text="${tempRent.id_maquina}"></td>
                    <td>
                        <div class="action-buttons">
                            <a th:href="@{/producers/information(id_machinaryrental=${tempRent.id_machinaryrental})}" class="btns view-btns" title="Ver Detalles"> <span class="material-symbols-outlined icon">visibility</span> </a>
                            <a th:href="@{/producers/edit(id_machinaryrental=${tempRent.id_machinaryrental})}" class="btns edit-btns" title="Editar"> <span class="material-symbols-outlined icon">edit</span> </a>
                            <form th:action="@{/producers/delete}" method="post" class="confirm-action" data-message="¿Eliminar esta renta?" data-title="Confirmar Eliminación" style="margin:0; padding:0; display:inline;">
                                <input type="hidden" name="id_machinaryrental" th:value="${tempRent.id_machinaryrental}" />
                                <button type="submit" class="btns delete-btns" title="Eliminar"> <span class="material-symbols-outlined icon">delete</span> </button>
                            </form>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
</body>
</html>